aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
argcomplete==3.6.3
attrs==25.4.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
blivet @ file:///builddir/build/BUILD/python-blivet-3.13.2-build/blivet-3.13.2
Brlapi==0.8.7
Brotli==1.2.0
build==1.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
chromadb==1.5.5
click==8.3.1
cockpit @ file:///builddir/build/BUILD/cockpit-362-build/cockpit-362/tmp/wheel/cockpit-362-py3-none-any.whl#sha256=a58100d7b054f1045e44ec3dd522c668a810e37d4f519988ec469b87a17d1e7c
crypt_r==3.13.1
cryptography==48.0.0
cupshelpers==1.0
dasbus==1.7
dataclasses-json==0.6.7
dbus-python==1.4.0
dbus_next==0.2.3
decorator==5.2.1
distro==1.9.0
dnf==4.24.0
durationpy==0.10
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.25.2
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.2.0
googleapis-common-protos==1.73.0
greenlet==3.3.2
grpcio==1.78.0
gunicorn==26.0.0
h11==0.16.0
hf-xet==1.4.2
html2text==2025.4.15
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.7.1
humanize==4.15.0
idna==3.11
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.1
importlib_resources==6.5.2
iso639==0.1.4
jaraco.classes==3.4.0
jaraco.context==6.1.0
jaraco.functools==4.3.0
jeepney==0.9.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.7.0
kubernetes==35.0.0
langchain==1.2.12
langchain-classic==1.0.3
langchain-community==0.4.1
langchain-core==1.2.19
langchain-text-splitters==1.1.1
langgraph==1.1.2
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.11
langsmith==0.7.17
langtable==0.0.70
libcomps==0.1.24
libdnf==0.75.0
libdnf5==5.4.2.1
louis==3.33.0
lxml==6.1.1
markdown-it-py==4.0.0
marshmallow==3.26.2
mdurl==0.1.2
mercurial==7.2
mmh3==5.2.1
more-itertools==10.5.0
moviepy==2.2.1
mpmath==1.3.0
multidict==6.7.1
mutagen==1.47.0
mypy_extensions==1.1.0
nftables==0.1
numpy==2.4.3
oauthlib==3.3.1
olefile==0.47
ollama==0.6.1
onnxruntime==1.24.3
opentelemetry-api==1.40.0
opentelemetry-exporter-otlp-proto-common==1.40.0
opentelemetry-exporter-otlp-proto-grpc==1.40.0
opentelemetry-proto==1.40.0
opentelemetry-sdk==1.40.0
opentelemetry-semantic-conventions==0.61b0
orjson==3.11.7
ormsgpack==1.12.2
overrides==7.7.0
packaging==25.0
pandas==3.0.1
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==12.2.0
pipx==1.12.0
platformdirs==4.9.1
ply==3.11
podman-compose==1.5.0
productmd==1.50
proglog==0.1.12
progressbar2==4.5.0
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
ptyprocess==0.7.0
pwquality==1.4.5
pyalsa==1.2.14
PyAudio==0.2.13
pybase64==1.4.3
pycairo==1.28.0
pycparser==2.22
pycryptodomex==3.23.0
pycups==2.0.4
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pyee==13.0.1
pyenchant==3.3.0
Pygments==2.19.2
PyGObject==3.56.3
pyinotify==0.9.6
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.69-build/pykickstart-3.69
pyparted==3.13.0
PyPika==0.51.1
pyproject_hooks==1.2.0
PySocks==1.7.1
pyTelegramBotAPI==4.32.0
python-augeas==1.2.0
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-linux-procfs==0.7.4
python-meh==0.52
python-pam==2.0.2
python-utils==3.9.1
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
RapidFuzz==3.14.3
referencing==0.36.2
regex==2026.2.28
requests==2.33.1
requests-file==3.0.0
requests-ftp==0.3.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.3.3
rpds-py==0.29.0
rpm==6.0.1
rpmautospec==0.8.4
rpmautospec-core==0.1.5
SecretStorage==3.5.0
selinux @ file:///builddir/build/BUILD/libselinux-3.10-build/libselinux-3.10/src
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.10-build/selinux-3.10/python/sepolicy
setools==4.6.0
setuptools==80.10.2
shellingham==1.5.4
shtab==1.7.2
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sos==4.11.1
soupsieve==2.8.3
SQLAlchemy==2.0.48
sympy==1.14.0
systemd-python==235
tenacity==9.1.4
tokenizers==0.22.2
tqdm==4.67.3
typer==0.24.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
userpath==1.9.2
uuid_utils==0.14.1
uvicorn==0.41.0
uvloop==0.22.1
watchfiles==1.1.1
websocket-client==1.9.0
websockets==15.0.1
xkbregistry==0.3
xxhash==3.6.0
yarl==1.23.0
yt-dlp==2026.3.17
zipp==3.23.0
zstandard==0.25.0
